<div class="row">
<div class="col s12">
<h1>Tracking: <b class="regnumber light-blue-text
 text-darken-4">{{RegNumber}}</b></h1>
 </div>
 <div class="input-field col s12">
    <select id="car-choose" class="browser-default">
      <option value="" disabled selected>Choose the car to track</option>
      <option value="IML43">IML43</option>
      <option value="OT380">OT380</option>
      <option value="SK014">SK014</option>
      <option value="SP758">SP758</option>
      <option value="SP758">SP758</option>
      <option value="ZM172">ZM172</option>
    </select>
  </div>
 </div>
 <table class="table ">
     <thead>
        <tr>
          <th>Speed</th>
          <th>Course (heading):</th>
          <th>RPM</th>
     </thead>
     <tbody>
        <tr>
            <td> {{position.Speed}} km/h</td>
            <td> {{position.Course}} deg</td>
            <td> {{engine.RPM}} rotations/min</td>
        </tr> 
     </tbody>
 </table>
