 <h1>Tracking: <b class="regnumber light-blue-text
 text-darken-4">{{RegNumber}}</b></h1>
 <table class="table ">
     <thead>
        <tr>
          <th>Speed</th>
          <th>Course (heading):</th>
          <th>RPM</th>
     </thead>
     <tbody>
        <tr>
            <td> {{position.Speed}} km/h</td>
            <td> {{position.Course}} deg</td>
            <td> {{engine.RPM}} rotations/min</td>
        </tr> 
     </tbody>
 </table>
