<h4>Engine RPM (Last 24 hours)</h4>
<div id="rpmchart" class="chart"></div>
<hr>
<h4>Average Fuel Consumption l/100 (Last 3 days)</h4>
<div id="avgfuelchart" class="chart"></div>
<hr>
<h4>Fuel Cost (Last 3 days)</h4>
<div id="fuelcostchart" class="chart"></div>
