<div class="chart-cont">
    <h4>Average Fuel Consumption l/100 (Last 3 days)</h4>
    <div id="avgfuelchart" class="chart"></div>
</div>
<hr>
<div class="chart-cont">
    <h4>Fuel Cost (Last 3 days)</h4>
    <div id="fuelcostchart" class="chart"></div>
    <div id="sumCost"></div>
    <div id="sumKm"></div>
    <div id="sumTime"></div>
</div>
<hr>
<div class="chart-cont">
    <h4>Speed (Last 24 hours)</h4>
    <div id="speedchart" class="chart"></div>
    <div id="maxSpeed"></div>
    <div id="avgSpeed"></div>
</div>
<hr>
<div class="chart-cont">
    <h4>Engine RPM (Last 24 hours)</h4>
    <div id="rpmchart" class="chart"></div>
</div>
<hr>
<div class="service">
    <center>
        <h3 id="service"></h3>
    </center>
</div>
