// http://paulirish.com/2012/box-sizing-border-box-ftw/
* { box-sizing: border-box; }

html,
body {
    height: 100%;
    width: 100%;
}

body,
input{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
.container.main, section.app{
    min-height: 100%;
    height: 100%;
}
#map-canvas {
  height: 60%;
  //min-height: 500px;
}

.speed-container {
	box-sizing: border-box;
	width: 850px;
	height: 450px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

#speedChart {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

.tabs {
    background-color: #ee6e73;
}
.tabs .tab a {
    color: white;
}
.tabs .indicator {
    background-color: lighten(#f6b2b5, 50%);
}
.container{width: 100%;}
@media only screen and (min-width: 601px) {
.container {
  width: 100%;
  padding: 0 1.5rem;
}
}
.trips {
    td, th {
        border-radius: 0px;
    }
    tbody tr {
        cursor: pointer;
        &:hover{
            background-color: lighten(#ee6e73,50%) !important;
        }

    }
}

.table {
    width: 100%;
}

  table.rtable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
    /* sort out borders */ }
    table.rtable th, table.rtable td {
      margin: 0;
      vertical-align: top; }
    table.rtable th {
      text-align: left; }
    table.rtable thead {
      display: block;
      float: left; }
      table.rtable thead tr {
        display: block;
        padding: 0 10px 0 0; }
        table.rtable thead tr th::before {
          content: "\00a0"; }
    table.rtable tbody {
      display: block;
      width: auto;
      position: relative;
      overflow-x: auto;
      white-space: nowrap; }
    table.rtable thead.pinned + tbody{
      padding-left: 94px; }
      table.rtable tbody tr {
        display: block;
        vertical-align: top; }
    table.rtable th {
      display: block;
      text-align: right; }
    table.rtable td {
      display: block;
      min-height: 1.25em;
      text-align: left; }
    table.rtable tr {
      padding: 0 10px; }
    table.rtable thead {
      border: 0;
      border-right: 1px solid #d0d0d0; }
    table.rtable.bordered th {
      border-bottom: 0;
      border-left: 0; }
    table.rtable.bordered td {
      border-left: 0;
      border-right: 0;
      border-bottom: 0; }
    table.rtable.bordered tr {
      border: 0; }
    table.rtable.bordered tbody tr {
      border-right: 1px solid #d0d0d0; } 


